__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
.tox/
.coverage
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
data/
*.md
.DS_Store
results.json
train_vit.py
deploy.sh
README.md